# Introduction of the k nearest neighbours

## Dataset

+ Read the file 'paris_airbnb.csv' in a Dataframe named paris_listings.
+ Display the first line of paris_listings.

In [2]:
# DataFrame.iloc[] to return a line from the desired position

In [4]:
import pandas as pd
paris_listings = pd.read_csv('paris_airbnb.csv')
print(paris_listings.iloc[0])

host_response_rate                 100%
host_acceptance_rate                NaN
host_listings_count                   1
latitude                        48.8335
longitude                       2.31852
city                              Paris
zipcode                           75014
state                     ÃŽle-de-France
accommodates                          2
room_type               Entire home/apt
bedrooms                              0
bathrooms                             1
beds                                  0
price                            $75.00
cleaning_fee                     $50.00
security_deposit                  $0.00
minimum_nights                        3
maximum_nights                       15
number_of_reviews                     8
Name: 0, dtype: object

## Euclidean Distance

+ Calculate the Euclidean distance between our accommodation which can accommodate 3 people and the first accommodation of the dataFrame paris_listings.
+ Assign the result to the first_distance variable and display the result.

In [35]:
# numpy.abs()  to calculate the absolute value
from scipy.spatial import distance
first_room = paris_listings.iloc[0]['accommodates']
living3 = paris_listings.iloc[:]['accommodates'][3]

ED = distance.euclidean(first_room, living3)
ED

1.0

## Calculate the distance for all observations

+ Calculate the distance between each value in the'accommodates' column of paris_listings and value 3 (which is the number of people that can accommodate our accommodation):
 - Use the **apply** method to calculate the absolute value between each value of'accommodates' and 3 and return a new Series object containing the distance values.
+ Assign the distance values to the'distance' column of the dataframe.
+ Use the Series value_counts() method and display the count of each unique value in the'distance' column.

In [40]:
# df['accommodates'].apply(lambda x: x + 2) returns a new Series object 
# where each original value in the "accommoates" column is 2 more
import numpy as np
temp_df = paris_listings.copy()
temp_df['distance'] = temp_df['accommodates'].apply(lambda x : np.abs(x - 3))
temp_df['distance']

0       1
1       1
2       1
3       0
4       1
5       1
6       1
7       0
8       1
9       1
10      3
11      1
12      1
13      0
14      0
15      1
16      1
17      1
18      0
19      2
20      1
21      1
22      1
23      1
24      0
25      2
26      1
27      1
28      1
29      0
       ..
7970    1
7971    5
7972    1
7973    1
7974    1
7975    1
7976    2
7977    1
7978    2
7979    1
7980    1
7981    1
7982    1
7983    1
7984    2
7985    1
7986    2
7987    1
7988    1
7989    0
7990    1
7991    1
7992    1
7993    3
7994    1
7995    1
7996    1
7997    1
7998    1
7999    3
Name: distance, Length: 8000, dtype: int64

## Randomize and sort

+ We start by placing ourselves on the same seed: np.random.seed(1)
+ Randomize the order of the betting lines_listings:
 - Use the np.random.permutation() function to return a NumPy array of mixed index values.
 - Use the method on Dataframe loc[] to return a new DataFrame containing the mixed order.
 - Assign the new Dataframe again to paris_listings.
+ After randomizing, sort paris_listings on the'distance' column with the method sort_values().
+ Display the first 10 values in the'price' column.

In [19]:
# np.random.permutation(len(paris_listings))

## Average price

+ Delete commas and dollar signs from the'price' column:
 - Use the str accessor so that we can apply the string method followed by the character replacement method to each value in the previous column: stripped_commas = paris_listings['price'].str.replace(',',''')
 - Repeat the operation to delete the $ signs.
+ Convert the new Series object containing the cleaned values into a float and assign the result to the'price' column of the paris_listings dataframe.
+ Calculate the average of the 5 values in the'price' column and assign the result to the mean_price variable.
+ Display the result.

In [21]:
# .mean() to calculate the average of a Series object

## Function to make predictions

+ Write a function called predict_price that uses the Machine Learning technique of the nearest k neighbours to calculate the suggested price for any value of the number of people the dwelling can accommodate. 
+ This function must:
 - Take a single parameter, new_listing, the number of people that can accommodate the accommodation. 
 - I also added code that assigns paris_listings to a new DataFrame named temp_df. We use the pandas.DataFrame.copy() method so that the previous dataframe is assigned to the variable temp_df, instead of just referring to paris_listings.
 - Calculate the distance between each value in the'accommodates' column and the new_listing value passed as a function parameter. Assign the resulting Series object to the'distance' column of temp_df.
 - Sort temp_df on the distance column and select the first 5 values from the price column. Do not randomize the order of temp_df.
 - Calculate the average of these 5 values and return this value as an output of the predict_price function.
+ Use the predict_price function to suggest a price for a suitable accommodation:
 - 1 person, assign this result to the acc_one variable.
 - 2 persons, assign this result to the variable acc_two.
 - 4 persons, assign this result to the acc_four variable.

In [25]:
def predict_price(new_listing):
    temp_df = paris_listings.copy()
    # Complete.
    return(predicted_price)